* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 110px; 
    font-family: 'Montserrat', sans-serif;
    color: #3f3f3f;
    font-size: 20px;
}

p {
    line-height: 1.5em;
    padding: 20px;
}

header {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 4px 4px grey;
    z-index: 2;
}

header.blanco {
    box-shadow: initial;
}

.headercompra {
    height: 95px;
    background: linear-gradient(to right, rgb(198, 226, 247), rgb(116, 187, 238), rgb(15, 114, 185), rgb(0, 64, 110));
    background-position: top center;
    background-size: cover; 
    background-attachment: fixed;
    position: fixed;
    z-index: 2;
}

.headercompra ul {
    background-color: #13131354;
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headercompra a {
    font-size: 20px;
    color: white;
}

.logo img {
    height: 60px;
}

.logo img:hover {
    height: 80px;
}

.burger {
    color: white;
    font-size: 34px;
    display: none;
}

.blanco .burger {
    color: white;
}

.blanco .burger:hover {
    color: #EA5C1C;
}

.logo {
    font-size: 50px;
}

.blanco .logo {
    color: white;
}

.blanco .logo:hover {
    color: #EA5C1C;
}

.sombraheader {
    width: 100%;
    height: 40px;
    position: sticky;
    top: 80px;
    background: -webkit-linear-gradient(top, white 10%, transparent);
    z-index: 1;
}

a {
    text-decoration: none;
    color: #282828;
}

a:hover {
    color: #EA5C1C; /* color/es corporativos */
}

a.activo {
    color: #EA5C1C;
}

.separador {
    display: none;
    border: solid 1px #EA5C1C;
    width: 60%;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 0 15px;
}

.blanco nav ul li a {
    color: white;
}

.blanco nav ul li a:hover {
    color: #EA5C1C;
}

.blanco nav ul li a.activo {
    color: #EA5C1C;
}

.bread {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.bread .activo {
    color: #EA5C1C;
}

.simbolo {
    font-weight: bold;
    color: #3f3f3f;
}

.fila {
    margin: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fila img {
    height: 250px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(116, 187, 238);
}

.conte1 {
    padding: 5px;
    margin: 12px;
    border: solid 1px rgb(24, 109, 179);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    transition: 2s;
}

.conte1:hover {
    /* transform: scale(1.5,0.8); */
    transform: scaleX(1.5);
    transform: scaleY(0.9);
}

.col1 {
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 1;
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col1, .columna h1 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: rgb(54, 54, 54);
    font-size: 25px;
}

.diapo:hover {
    cursor: url('../img/right-arrow.svg'), auto;   /* el cursor se transforma en el icono que ponemos aquí */
}

footer {
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.top1 {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);  /* La mitad del ancho del elemento */
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 18px;
    padding: 5px;
}

.izdo {
    /* border: solid 1px white; */
    flex-basis: 300px;
    flex-grow: 1;
    padding: 20px;
}

.centro {
    /* border: solid 1px white; */
    flex-basis: 300px;
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    color: white;
    font-size: 18px;
    padding: 5px;
}

footer a:hover {
    color: #EA5C1C;
}

footer a.activo {
    color: #EA5C1C;
}

.dcho {
    padding: 15px;
    flex-basis: 300px;
    flex-grow: 1;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dcho a {
    color: white;
}

.rrss a {
    font-size: 32px;
    color: white;
    padding: 5px;
}

.rrss a:hover {
    color: #EA5C1C;
}

.copy {
    padding: 5px;
    /* border: solid 1px white; */
    width: 100%;    
}

.copy p {
    font-size: 14px;
    text-align: center;
}

/* Media Queries */

@media (max-width: 810px) {
    .fila {
        justify-content: center;
    }
}

@media (max-width: 720px) {
    .fila {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conte1 {
        padding: 5px;
        margin: 6px;
    }
}

@media (max-width: 640px) {
    .logo img {
        display: none;
    }
    .burger {
        display: initial;
    }

    nav {
        display: none;
    }

    .izdo, .centro, .dcho {
        flex-basis: 200px;
    }
}

@media (max-width: 420px) {
    .headercompra {
        height: 40px;
        background-color: rgb(15, 114, 185);
        background-image: none;
    }   

    .sombraheader {
        height: 50px;
        background: -webkit-linear-gradient(top, 40px, transparent); /* Quitar la línea gradiente */
        top: 0;
    }
}